
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat";

}

*, ::after, ::before {
    box-sizing: border-box;
}


-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


.blog {
    margin: 25px;
    background: cornsilk;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5%;

}
.blog h1 {
    margin-top: 5%;
}

.blogPosts {
    width: 60%;
    margin: 35px auto;
    margin-top: 5%;
}

.blogPosts h1 {
    margin-top: 5%;
}


         /*blog*/
         .innova-blog {
            margin: 80px 0;
            
                    }
                    .title-style h1 {
                        padding: 40px 0;
            
                    }
                    
                    .title-style {
                        margin: 0 auto 80px;
                        height: 120px;
                        width: 80%;
                        max-width: 700px;
                        background: #fff;
                        position: relative;
                        box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
                    }
            
                    .title-style::after {
                        content:'' ;
                        height: 100px;
                        width: 200px;
                        background-color: #f992a6;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        
                    }
            
            
                    .title-style::before {
                        content:'' ;
                        height: 100px;
                        width: 200px;
                        background-color: #f992a6;
                        position: absolute;
                        bottom: -10px;
                        right: -10px;
                        z-index: -1;
                    }
            
                    #banner {
                        background: url("../innova original/jenny innova/form clock.jpeg");

                        background-size: cover;
                        background-position: center;
                        height: 100vh;
                    }
            
                    .banner-text {
                        text-align: center;
                        color: purple;
                        padding-top: 200px;
                        
                    }
            
                    .banner-text h1 {
                        font-size: 150px;
                        font-family: 'Kaushan Script', cursive;
            
                    }




                    .blog-header {
                        background-color: #343a40;
                        color: white;
                        height: 50vh;
                        margin-left: 5%;
                        margin-right: 5%;
                        border-radius: 1%;
                    }

                    .blog-header h1 {
                        font-style: italic;
                    line-height: 1.2;
                    font-weight: 300;
                    font-size: 4rem;
                    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
                text-align: left;
                display: block;
                margin-left: 5%;
                margin-block-start: 1em;
                        margin-block-end: 1em;
                
                    }


                    .blog-header p {
                        font-weight: 300;
                        font-size: 1.25rem;
                        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        margin-left: 5%;
                    }


                    .card-img {
                        align-items: right;
                    }



                    .mb-2 {
                        margin-top: 5%;
                        
                        padding-top: 5%;
                        padding-left: 5%;
        
    
                    }

                    .blog-main h3 {
                        font-family: "Playfair Display", Georgia, "Times New Roman", serif;
                        font-size: 1.75rem;
                        font-weight: 500;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-left: 5%;
                    }

                    

                    .col-md-8 {
                        -ms-flex: 0 0 66.666667%;
                        flex: 0 0 66.666667%;
                        max-width: 66.666667%;
                    }


                    body {
                        margin: 0;
                        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #212529;
                        text-align: left;
                        background-color: #fff;
                    }

                    .col {
                        position: relative;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                    }
                    

                    .mb-4, .my-4 {
                        margin-bottom: 1.5rem!important;
                    }

                    .pb-4, .py-4 {
                        padding-bottom: 1.5rem!important;
                    }


                    .border-bottom {
                        border-bottom: 1px solid #dee2e6!important;
                    }

                    .blog-post {
                        margin-bottom: 4rem;
                        margin-left: 5%;
                    }

                    .div {
                        display: block;
                    }

                    .p-4 {
                        padding: 1.5rem!important;
                    }



                    .col-md-4 {
                        -ms-flex: 0 0 33.333333%;
                        flex: 0 0 33.333333%;
                        max-width: 33.333333%;
                    }



                    .col, .col-md-4, .col-md-6, .col-md-8,.col-md-auto,.col-sm-4 .col-sm-6 .col-sm-8{
                        position: relative;
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                    }

                    .blog-pagination > .btn {
                        border-radius: 2rem;
                    }
                    .btn-outline-primary {
                        color: #007bff;
                        border-color: #007bff;
                    }

                    .btn {
                        display: inline-block;
                        font-weight: 400;
                        color: #212529;
                        text-align: center;
                        vertical-align: middle;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        background-color: transparent;
                        border: 1px solid transparent;
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        line-height: 1.5;
                        border-radius: .25rem;
                        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    }



                    .rounded {
                        border-radius: .25rem!important;
                    }

                     .aside, .main, .nav  {
                        display: block;
                    }

                    .col-md-6 {
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                    }

                    .container {
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                        margin-right: auto;
                        margin-left: auto;
                    }